:root {
    --gray-100: #e3e3e3;
    --gray-200: #c8c8c8;
    --gray-300: #a4a4a4;
    --gray-400: #757575;
    --gray-500: #606060;
    --gray-600: #484848;
    --gray-700: #383838;
    --gray-800: #303030;
    --gray-850: #272727;
    --gray-900: #232323;
}