body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #11111111;}

ul.topnav li a.active {background-color: #007DFA;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}



.bgimg {
  background: white;
  margin-top: 20%;
  height: 100%;
  position: relative;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.bgimg2 {
  background: white;
  height: 100%;
  position: relative;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.middle {
  position: flex;
  align-content: center;
  text-align: center;
}

hr {
  height: 1.5px;
  margin: auto;
  width: 60%;
  background: black;
}



.button {
  border: none;
  color: #04AA6D;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.button1 {
  background-color: #007DFA; 
  color: white; 
}

.button1:hover {
  background-color: #8AC5FF; 
}







input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button] {
  width: 100%;
  background-color: #007DFA;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #8AC5FF;
}

.inputContainer {
  border-radius: 8px;
  background-color: #f2f2f2;
  padding: 20px;
}









#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #007DFA;
  color: white;
}
